html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.topnav{
    margin-top: 50px;
    color: #93F213B;
    
}

.btentrar {
  width: 170px;
  background: #3F213B !important;
  font-family: cursive;
}
.btregistrar {
  width: 170px;
  background: #DF6E2F !important;
  font-family: cursive;
}

.nav{
  color: black !important;
  padding-right: 2rem !important ;
  font-family: cursive;
}

.navbar-light .navbar-nav .nav-link {
    color: #3F213B;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #FFFF00;
  }
.banner{
  background-image: url("/banner2.png")  ;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #3F213B;
  height: 378px;
}

.adote{
  color: aliceblue !important;
  padding-top: 80px;
  margin-left: 50px;
  font-family: cursive;
}

.btvejamais {
  margin-left: 50px ;
  margin-top: 50px;
  width: 181px;
  background: #DF6E2F !important;
  font-family: cursive;
}
.lig {
  color: #DF6E2F !important;
  margin-left: 50px ;
}

.btcoracao {
  background-image: url("/coracao.png")  ;
  background-repeat: no-repeat;
  height:  290px !important;
  background-color: white !important;
  border: none !important;
  font-size:0;
  
}

.btpegada{
  background-image: url("/peg.png")  ;
  background-repeat: no-repeat;
  width: 290px !important;
  background-color: white !important;
  border: none !important;
  font-size:0;

}

.textado{
  margin-top: 130px;
}

.topoq {
  margin-top: 95px;
}

.optext {
  font-family: cursive;
    text-align: end;
}

.divfooter {
  background-color: rgba(227, 128, 73, 0.09);
}